h1{
    color: blueviolet;
    text-align: center;
}

button{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px;
}

p{
    font-size: 18px;
    text-align: center;
    color: green;
    shadow: 1px 1px 2px black;
}